body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Centraal uitlijnen van de tekst */
}

header {
    background-color: #FF4500;
    color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    flex-wrap: wrap; /* Zorgt ervoor dat de items kunnen doorlopen naar de volgende regel */
}

.name {
    font-size: 30px; /* Grotere lettergrootte voor de naam */
    font-weight: bold; /* Vetgedrukte tekst */
}

nav {
    margin: 0;
}

nav a {
    color: #1A1A1A;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold; /* Vetgedrukte navigatietekst */
}

nav a:hover {
    text-decoration: underline; /* Onderstreping bij hover */
}

/* Media query voor kleinere schermen */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* Stapel de elementen verticaal */
        align-items: center; /* Centreer de elementen */
    }

    .name {
        font-size: 18px; /* Kleinere lettergrootte voor de naam */
    }

    nav {
        width: 100%; /* Zorg ervoor dat de navigatie de volledige breedte gebruikt */
        text-align: center; /* Centreer de navigatie-items */
        margin-top: 10px; /* Ruimte boven de navigatie */
    }

    nav a {
        margin: 5px 0; /* Ruimte tussen de navigatie-items */
        display: block; /* Maak de links blokken zodat ze onder elkaar staan */
    }
}

.front-image-container {
    position: relative; /* Zorgt ervoor dat de caption relatief gepositioneerd kan worden */
    display: flex; /* Gebruik flexbox voor centreren */
    justify-content: center; /* Horizontaal centreren */
    align-items: flex-start; /* Verticaal uitlijnen naar de bovenkant */
    overflow: hidden; /* Zorgt ervoor dat de afbeelding niet buiten de container valt */
    height: auto; /* Stel een vaste hoogte in voor de container */
    width: 100%; /* Zorgt ervoor dat de container responsief is */
    max-height: 550px; /* Stel een maximale hoogte in */
	background-color: #141414
}

.front-image {
    max-width: 30%; /* Zorgt ervoor dat de afbeelding responsief is */
    height: auto; /* Houdt de verhoudingen van de afbeelding */
    object-fit: cover; /* Zorgt ervoor dat de afbeelding de container opvult zonder vervorming */
    margin-top: -0%; /* Pas deze waarde aan om de afbeelding omhoog te verschuiven */
}

.front-image-caption {
    position: absolute; /* Absoluut positioneren ten opzichte van de parent */
    bottom: 30px; /* Afstand van de onderkant van de afbeelding */
    right: 30px; /* Afstand van de rechterkant van de afbeelding */
    color: #FF4500; /* Kleur van de tekst */
    background-color: transparent; /* Geen achtergrondkleur */
    padding: 10px; /* Padding rondom de tekst */
    border-radius: 5px; /* Optionele afgeronde hoeken */
    text-align: right; /* Tekst uitlijnen naar rechts */
    font-size: 35px; /* Pas de lettergrootte aan naar wens */
}

.subtitle {
    font-size: 23px; /* Pas de lettergrootte aan naar wens */
    color: white; /* Kleur van de tekst (kan ook aangepast worden) */
}

.showreel {
    margin: 40px 0; /* Ruimte boven en onder de showreel sectie */
}

.title {
    text-transform: uppercase; /* Hoofdletters voor de kop */
    font-size: 50px; /* Lettergrootte voor de kop */
    color: #1A1A1A;
    margin-bottom: 20px; /* Ruimte onder de titel, toegevoegd om de ruimte naar de video te verkleinen */
}

/* Media query voor kleinere schermen */
@media (max-width: 768px) {
    .title {
        font-size: 30px; /* Kleinere lettergrootte voor de showreel titel */
    }
}

.producties {
	margin: 25px 0; /* Ruimte boven en onder de producties sectie */
}

.producties p {
    text-transform: lowercase; /* Maakt de tekst in de productiesectie lowercase */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 kolommen standaard voor grote schermen */
    gap: 30px; /* Ruimte tussen de foto's */
    padding: 0 30px; /* Padding aan de zijkanten */
}

/* Voor schermen tussen 704px en 1384px, 2 rijen van 4 kolommen */
@media (min-width: 704px) and (max-width: 1384px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr); /* 4 kolommen */
    }
}

/* Voor schermen kleiner dan 704px, 2 kolommen */
@media (max-width: 703px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 kolommen */
    }
}

.gallery img {
    width: 100%; /* Zorgt ervoor dat de afbeelding de breedte van de kolom vult */
    height: auto; /* Zorgt ervoor dat de hoogte automatisch wordt ingesteld op basis van de breedte */
    aspect-ratio: 1 / 1.41; /* Houdt de verhouding van A3 (1:1.41) */
    object-fit: cover; /* Zorgt ervoor dat de afbeelding bijgesneden wordt om de container te vullen */
    border-radius: 5px; /* Optionele afgeronde hoeken */
}

.gallery-title {
    text-align: center; /* Centraal uitlijnen van de titels */
    margin-top: 10px; /* Ruimte boven de titels */
    background-color: rgba(230, 230, 230, 0.3); /* Lichtgrijze achtergrond (met transparantie) */
    padding: 5px; /* Padding rondom de tekst */
    border-radius: 5px; /* Optionele afgeronde hoeken */
    text-transform: uppercase; /* Hoofdletters voor de kop */
    font-size: 14px;
}

/* Media query voor mobiele apparaten */
@media (max-width: 480px) {
    .name {
        font-size: 24px; /* Kleinere lettergrootte voor mobiele apparaten */
    }
    .front-image-caption {
        font-size: 20px; /* Kleinere lettergrootte voor mobiele apparaten */
    }
}

main {
    margin: 20px; /* Pas de waarde aan naar wens */
    padding: 20px; /* Optioneel: voeg padding toe voor extra ruimte binnenin */
    max-width: 1200px; /* Optioneel: stel een maximale breedte in voor grotere schermen */
    margin-left: auto; /* Centreert de main inhoud */
    margin-right: auto; /* Centreert de main inhoud */
}

.profile {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.portrait {
    width: 200px; /* Pas de breedte aan naar wens */
    height: auto;
    border-radius: 50%; /* Maakt de afbeelding */
	margin-right: 35px; /* Verhoog deze waarde voor meer ruimte */
}

.highlight-item {
    margin: 10px 0; /* Ruimte tussen de items */
    padding: 10px; /* Optionele padding voor extra ruimte */
    background-color: #f0f0f0; /* Achtergrondkleur voor de items */
    border-radius: 5px; /* Ronde hoeken */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Schaduw voor diepte */
}


.producties-lijst {
    width: 75%; /* Of een andere breedte naar keuze */
    margin: 0 auto; /* Centreert de container */
    text-align: left; /* Zorgt ervoor dat de tekst binnen het blok links uitgelijnd is */
}

.producties-lijst h2 {
    text-align: center; /* Centreert de titels binnen de container */
}

.logo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Flexibele kolommen */
    gap: 20px; /* Ruimte tussen de logo's */
}

.logo-grid img {
    max-width: 100%; /* Zorgt ervoor dat de logo's niet groter zijn dan hun container */
    height: auto; /* Houdt de verhoudingen van de logo's intact */
    display: block; /* Zorgt ervoor dat de afbeelding als een blok wordt weergegeven */
    margin: 0 auto; /* Centreert de afbeelding binnen de cel */
    align-self: center; /* Centreert de afbeelding verticaal binnen de cel */
    justify-self: center; /* Centreert de afbeelding horizontaal binnen de cel */
}

.logo-grid img {
    transition: transform 0.3s; /* Voor een soepele overgang */
}

/* Zigzag-effect */
.logo-grid img:nth-child(odd) {
    transform: rotate(2.5deg) translateY(-15px); /* Oneven logo's omhoog en licht gedraaid */
}

.logo-grid img:nth-child(even) {
    transform: rotate(-3deg) translateY(15px); /* Even logo's omlaag en licht gedraaid */
}

body {
    margin: 0; /* Verwijder standaard marges */
}

body {
    margin: 0; /* Verwijder standaard marges */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.gallery-item {
    width: 100%;
    height: 300px; /* Stel een vaste hoogte in voor de afbeeldingen */
    overflow: hidden; /* Zorg ervoor dat de afbeeldingen niet buiten de container vallen */
    cursor: pointer;
    transition: transform 0.2s;
    position: relative; /* Voor het positioneren van de afbeelding */
}

.gallery-item img {
    width: 100%;
    height: 100%; /* Verander dit naar 100% */
    object-fit: cover; /* Zorg ervoor dat de afbeelding bijgesneden wordt */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.gallery-item:hover {
    transform: scale(1.05);
}



.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    position: absolute; /* Voeg deze regel toe */
    top: 50%; /* Voeg deze regel toe */
    left: 50%; /* Voeg deze regel toe */
    transform: translate(-50%, -50%); /* Voeg deze regel toe */
}


.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.6s ease;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 10px;
    transform: translateY(-50%);
}

.next {
    right: 10px;
    transform: translateY(-50%);
}

.prev:hover, .next:hover {
    color: #f1f1f1;
}


/*
.photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.gallery-item {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

*/


@media (max-width: 768px) {
    .photo-gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Minder kolommen op kleinere schermen */
    }
}






footer {
    background-color: #FF4500;
    color: #1A1A1A;
    padding: 20px 0;
    position: relative;
    font-size: 17px;
}

footer nav {
    display: flex;
    justify-content: center; /* Centraal uitlijnen van de footer navigatie */
}

footer nav a {
    margin: 0 15px;
}

footer p {
    margin: 10px 0 0; /* Ruimte boven de copyright tekst */
}
