body {
    font-family: 'Jost', sans-serif;
    text-align: center;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.subtitle {
    font-size: 23px;
    color: white;
}

.title {
    text-transform: uppercase;
    font-size: 50px;
    color: #1A1A1A;
    margin-bottom: 20px;
}

.producties p {
    text-transform: lowercase;
}
